.blog {
  width: 100%;
  background-color: #222222;
  padding: 200px 0px 0px;

  .block-second {
    justify-content: center;
    display: flex;
    div {
      h4 {
        margin-bottom: 20px;
        font-size: 17px;
        font-family: sans-serif;
        color: #e32879;
      }

      h2{
        font-family: sans-serif;
        font-size: 42px;
        color: #fff;
        margin-left: -80px;
        margin-bottom: 80px;
      }
    }
  }

  .card-blog {
    display: flex;
    justify-content: center;
    font-family: sans-serif;

    .card-blog-right{
        padding: 30px;
        background-color: #191919;
        h3{
            font-size: 24px;
            margin-bottom: 10px;
            color: #fff;
        }
        p{
            margin-bottom: 20px;
        }
        .card-blog-data{
            color: #e32879;
        }

        .card-blog-second {
            display: flex;
            align-items: center;
            img{
                border-radius: 30px;
            }
            h4{
                color: #fff;
                margin-bottom: 10px;
            }

            p{
                color: #e32879;
            }
        }

        .card-blog-winner{
            color: dimgray;
            margin-bottom: 40px;
        }

    }

    .card-blog-rightt{
        margin-left: 20px;
    }
  }
}
