.stn {
    width: 100%;
    height: max-content;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;

    .stn__box {
        width: 600px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        .stn__box--h1 {
            font-size: 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }  

        .stn__box--pr {
            font-size: 15px;
            color: rgb(158, 158, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .stn__box--box {
            display: flex;

            .stn__box--box__box-second {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .stn__box--box__box-second--h2 {
                font-size: larger;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            .stn__box--box__box-second--pr {
                font-size: 15px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: rgb(168, 168, 168);
            }
        }
    }
}

@media (max-width:992px) {
    .stn {
        display: flex;
        flex-wrap: wrap;
    }
}