.container 
    section.about 
        div.about-wrap
            div 
                img.im(src="../../assets/image/about1.svg", alt="img")
            div 
                div 
                    h3.h3 Light, Fast & Powerful
                div 
                    p.p1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. #[br] Aenean commodo ligula eget dolor. Aenean massa. Cum #[br] sociis natoque penatibus et magnis dis parturient montes, #[br] nascetur ridiculus #[br] mus. Donec quam felis, ultricies nec, pellentesque #[br] eu, pretium quis, sem. Nulla consequat massa quis enim.
                div
        div.about-wrap
            div 
                img.img(src="../../assets/image/about2.svg", alt="img")
            div 
                div 
                    h3.h3 Light, Fast & Powerful
                div 
                    p.p1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. #[br] Aenean commodo ligula eget dolor. Aenean massa. Cum #[br] sociis natoque penatibus et magnis dis parturient montes, #[br] nascetur ridiculus #[br] mus. Donec quam felis, ultricies nec, pellentesque #[br] eu, pretium quis, sem. Nulla consequat massa quis enim.
                div
        div.about-wrap
            div 
                img.img(src="../../assets/image/about3.svg", alt="img")
            div 
                div 
                    h3.h3 Light, Fast & Powerful
                div 
                    p.p1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. #[br] Aenean commodo ligula eget dolor. Aenean massa. Cum #[br] sociis natoque penatibus et magnis dis parturient montes, #[br] nascetur ridiculus #[br] mus. Donec quam felis, ultricies nec, pellentesque #[br] eu, pretium quis, sem. Nulla consequat massa quis enim.
                div
                    button.button Purchase Now 



