.container 
    footer 
        div 
            h2.h4  A Price To Suit Everyone
            p.p5 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula #[br] eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient #[br] montes, nascetur ridiculus 
            h1.h6 $40
            p See, One price. Simple.
            button Purchase Now