section.prise 
    div.prise__1 
        div.prise__p
            h3 A Price To Suit Everyone
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula #[br] eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient #[br] montes, nascetur ridiculus 
            h2 $40
            h5 UI Design Kit
            p See, One price. Simple.
            button Purchase Now